<div style="background:white;margin-top:16px">
<div style="color: orange;padding-left:18px;font-weight:bold;padding-top:10px">
    Note: Please add all the information as per business registered document for efficient onboarding!
</div>
<div style="margin-left:100px;margin-right:100px">
    <div style="margin-top: 16px;">
        Enter one business owner name in case of multiple ownwers *
    </div>

    <div>

        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="32px">
            <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <input matInput placeholder="First Name" style="width: 100%;" required>
            </mat-form-field>
            <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <input matInput placeholder="Last Name" style="width:100%" required>
            </mat-form-field>
            <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <input matInput placeholder="Business Mobile Number" style="width:100%" required>
            </mat-form-field>
            <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <mat-label>Gender</mat-label>
                <mat-select>
                    <mat-option></mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <!-- <input matInput placeholder="Date of Birth (i)" style="width:100%" required> -->
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px">
                <div fxFlex="20" class="front" fxLayoutAlign="center center">
                    Front
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                    <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                        Upload Image
                    </div>
                    <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                        JPG, GIF or PNG
                    </div>
                </div>
                <div fxFlex="20" class="front" fxLayoutAlign="center center">
                    Back
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                    <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                        Upload Image
                    </div>
                    <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                        JPG, GIF or PNG
                    </div>
                </div>

            </div>
            <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100" style="padding-top:8px">
                <input matInput placeholder="Aadhar Card Number" style="width:100%" required>
            </mat-form-field>

            <div fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px" style="padding-top:8px">
                <div fxFlex="20" class="front" fxLayoutAlign="center center">
                    Front
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                    <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                        Upload Image
                    </div>
                    <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                        JPG, GIF or PNG
                    </div>
                </div>
                <div fxFlex="20" class="front" fxLayoutAlign="center center">
                    Back
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                    <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                        Upload Image
                    </div>
                    <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                        JPG, GIF or PNG
                    </div>
                </div>

            </div>
            <mat-form-field style="padding-top: 8px;" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <input matInput placeholder="Pan Card Number" style="width:100%" required>
            </mat-form-field>
            <div style="padding-top: 8px;" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px">
                <div fxFlex="20" class="front" fxLayoutAlign="center center">
                    Front
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                    <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                        Upload Image
                    </div>
                    <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                        JPG, GIF or PNG
                    </div>
                </div>
                <div fxFlex="20" class="front" fxLayoutAlign="center center">
                    Back
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                    <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                        Upload Image
                    </div>
                    <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                        JPG, GIF or PNG
                    </div>
                </div>
            </div>
            <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <input matInput placeholder="Home Street Address 1" style="width:100%" required>
            </mat-form-field>
            <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <input matInput placeholder="Home Street Address 2" style="width:100%" required>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <mat-label>Select City</mat-label>
                <mat-select>
                    <mat-option></mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                <mat-label>Select State</mat-label>
                <mat-select>
                    <mat-option></mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field fxFlex.gt-md="0 0 calc(30%-32px)" fxFlex.gt-sm="100">
                <input matInput placeholder="Zip/pin code" style="width:100%" required>
            </mat-form-field>

            <div fxFlex.gt-md="0 0 calc(70%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px">
                <div fxFlex="20" fxLayoutAlign="center center" >
                    Address Proof
                </div>


                <div fxFlex="20" class="front">
                    Front
                </div>
                <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                    <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                        Upload Image
                    </div>
                    <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                        JPG, GIF or PNG
                    </div>
                </div>
                <div fxFlex="20" class="front">
                    Back
                </div>
                <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                    <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                        Upload Image
                    </div>
                    <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                        JPG, GIF or PNG
                    </div>
                </div>
            </div>

<div style="height: 30px;">

</div>

            <div class="next" fxLayoutAlign="center center">
                <span style="padding-left: 8px;">
                    Next
                </span>
<mat-icon>arrow_right_alt</mat-icon>
            </div>

        </div>



    </div>

</div>
</div>