<div style="background:white;margin-top:16px;letter-spacing: 1px;">
    <div style="color: orange;padding-left:18px;font-weight:bold;padding-top:10px">
        Note: Please add all the information as per business registered document for efficient onboarding!
    </div>
    <div style="margin-left:100px;margin-right:100px">


        <div>



            <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="32px">
                <mat-form-field fxFlex.gt-md="0 0 calc(60%-32px)" fxFlex.gt-sm="100" style="padding-top: 35px">
                    <input matInput placeholder="Bank Name" style="width: 100%;" required>
                </mat-form-field>
                <mat-form-field fxFlex.gt-md="0 0 calc(60%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Account Holder Name" style="width:100%" required>
                </mat-form-field>
                <mat-form-field fxFlex.gt-md="0 0 calc(60%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Account Number" style="width:100%" required>
                </mat-form-field>
                <mat-form-field fxFlex.gt-md="0 0 calc(60%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Repeat Account Number" style="width:100%" required>
                </mat-form-field>
                <mat-form-field fxFlex.gt-md="0 0 calc(60%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="SWIFT/IFSC Code" style="width:100%" required>
                </mat-form-field>
                <mat-checkbox fxFlex.gt-md="40" fxFlex.gt-sm="100">GPay</mat-checkbox>
                <mat-checkbox fxFlex.gt-md="10" fxFlex.gt-sm="100">PayTM</mat-checkbox>
            </div>
        </div>
    </div>
    <div style="height: 30px;">

    </div>

    <!-- <div class="next" fxLayoutAlign="center center">
        <span style="padding-left: 8px;">
            Next
        </span>
        <mat-icon>arrow_right_alt</mat-icon>
    </div> -->
</div>