<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div class="k-profile">
            K
        </div>
        <section class="sidenav-section registration">
            <span>
                <mat-icon>list_alt</mat-icon>
            </span>
        </section>

        <section class="sidenav-section">
            <span>
                <mat-icon>grid_view</mat-icon>
            </span>
        </section>
        <section class="sidenav-section">
            <span>
                <mat-icon class="icon-view">connect_without_contact
                </mat-icon>
            </span>
        </section>
        <section class="sidenav-section">
            <span>
                <mat-icon>calendar_today</mat-icon>
            </span>
        </section>
        <section class="sidenav-section">
            <span>
                <mat-icon>mail</mat-icon>
            </span>
        </section>
        <section class="sidenav-section">
            <span>
                <mat-icon>settings</mat-icon>
            </span>
        </section>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <div style="font-size: 35px;">
                Registration!
            </div>


        </mat-toolbar>
        <div class="subtitle">
            Please complete your registration
        </div>
        <mat-tab-group style="padding: 16px;">
            <mat-tab label="Business Details">
                <app-business-details></app-business-details>
            </mat-tab>
            <mat-tab label="Owners Details">
                <app-owner-details></app-owner-details>
            </mat-tab>
            <mat-tab label="Business Preferences">
                <app-business-preferences></app-business-preferences>
            </mat-tab>
            <mat-tab label="Business Package">
                <app-business-package></app-business-package>
            </mat-tab>
            <mat-tab label="Bank Details">
                <app-bank-details></app-bank-details>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>

    <mat-sidenav position="end" mode="side" #matSideNav style="padding:16px;" opened>
        <section class="sidenav-right-section">

            <div class="form-inline md-form form-sm" fxFlex="100" style="position: relative;">

                <input class="playground container content" type="text" placeholder="Search" aria-label="Search" style="height: 35px;margin-top: 5px;">
                <mat-icon class="search-icon">search</mat-icon>
                <mat-icon style="float: right;    font-size: 46px;
                margin-right: 37px;">circle_notifications</mat-icon>
            </div>

        </section>
        <div fxLayout="row">
            <div class="profile-name">
                Hello,
                <div style="margin-top: 10px;">
                   <b>9765453421</b> 
                </div>
            </div>
            <div fxFlex fxLayoutAlign="end start">
                <mat-icon class="profile-icon">account_circle</mat-icon>
            </div>


        </div>

        <section class="sidenav-right-section" style="margin-top: 60px;">

            <div class="form-inline md-form form-sm" fxFlex="100" style="position: relative;">

                <input class="playground container content" type="text" placeholder="" aria-label="Search" style="padding:8px;width: 80%;">
                <mat-icon class="copy-icon">content_copy</mat-icon>
               
            </div>
            <button mat-button style="    background-color: #ffa50091;
            height: 50px;
            width: 120px;
            border-radius: 30px;
            margin-right: 20px;">
                Edit Link
            </button>
        </section>
        
        <div>
            <mat-card class="profile-card">
                <mat-card-header></mat-card-header>
                <mat-card-content>
                    <div fxFlex="60" style="margin-top:20px">
                        <div class="card-title">
                            Go
                        </div>
                        <div class="card-title">
                            Premium/PRO
                        </div>
                        <div class="card-subtitle">
                            For more Business Control
                        </div>
                    </div>
                    <div fxFlex="40" fxLayoutAlign="end center">
                        <div class="crown-div">
                            <mat-icon svgIcon="crown" class="crown-icon"></mat-icon>
                        </div>

                    </div>

                </mat-card-content>
                <mat-card-actions></mat-card-actions>
            </mat-card>
        </div>
        <div class="greetings">
            Welcome 987654329

        </div>
        <div fxLayout="column">
            <div fxLayout="row" fxFlex="100" style="margin-top: 30px;">
                <div fxLayout="column" fxFlex="20" fxLayoutAlign="start center">
                    <div class="step-1" fxLayout="row" fxLayoutAlign="center center">
                        <span>
                            1
                        </span>

                    </div>

                </div>
                <div fxLayout="column" fxFlex="80">
                    <div class="step-title">
                        Complete Your Business Registration
                    </div>
                    <div class="step-subtitle">
                        We are here to bring business to you!
                    </div>

                </div>
            </div>

            <div fxLayout="row" fxFlex="100" style="margin-top: 30px;">
                <div fxLayout="column" fxFlex="20" fxLayoutAlign="start center">
                    <div class="step-1" fxLayout="row" fxLayoutAlign="center center">
                        <span>
                            2
                        </span>
                    </div>

                </div>
                <div fxLayout="column" fxFlex="80">
                    <div class="step-title">
                        Add Drivers and Fleets
                    </div>
                    <div class="step-subtitle">
                        Add all the drivers and fleet
                    </div>

                </div>
            </div>


            <div fxLayout="row" fxFlex="100" style="margin-top: 30px;">
                <div fxLayout="column" fxFlex="20" fxLayoutAlign="start center">
                    <div class="step-3" fxLayout="row" fxLayoutAlign="center center">
                        <span>
                            3
                        </span>
                    </div>

                </div>
                <div fxLayout="column" fxFlex="80">
                    <div class="step-title">
                        Select your package!
                    </div>
                    <div class="step-subtitle">
                        Your get leads and platform to handle your business needs.
                    </div>

                </div>
            </div>

        </div>

    </mat-sidenav>

</mat-sidenav-container>