<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      sidenav
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-tab-group >
            <mat-tab label="Business Details">
                <app-business-details></app-business-details>
            </mat-tab>
            <mat-tab label="Owners Details">
              <app-owner-details></app-owner-details>
            </mat-tab>
            <mat-tab label="Business Preferences">
                <app-business-preferences></app-business-preferences>
            </mat-tab>
            <mat-tab label="Business Package">
                <app-business-package></app-business-package>
            </mat-tab>
            <mat-tab label="Bank Details">
                <app-bank-details></app-bank-details>
            </mat-tab>
          </mat-tab-group>
    </mat-sidenav-content>

    <mat-sidenav position = "end" mode = "side" opened>
        <section class = "sidenav-right-section">
          <span><form class="form-inline md-form form-sm">
            <mat-icon>search</mat-icon>
            <input class="playground container content" type="text" placeholder="Search" aria-label="Search">
            <mat-icon>circle_notifications</mat-icon>
          </form>
        </span>
       </section>
       <section class = "sidenav-right-section">
       </section>
       <section class = "sidenav-right-section">
       </section>
       <section class = "sidenav-right-section">
       </section>
       <section class = "sidenav-right-section">
       </section>
       <section class = "sidenav-right-section">
       </section>
      </mat-sidenav>
      
  </mat-sidenav-container>