<div style="color: orange;padding-left:18px;font-weight:bold;padding-top:10px">
    Note: Please add all the information as per business registered document for efficient onboarding!
</div>
<div style="margin-left:100px;margin-right:100px">
    <div style="margin-top: 16px;">
        Taxi business vertical*
    </div>

    <div>
        <div fxFlex="100" fxLayout="row wrap">
            <mat-checkbox fxFlex.gt-md="25" fxFlex.gt-sm="100">Taxi/cab</mat-checkbox>

            <mat-checkbox fxFlex.gt-md="25" fxFlex.gt-sm="100">Pet Taxi</mat-checkbox>
            <mat-checkbox fxFlex.gt-md="25" fxFlex.gt-sm="100">Ambulange</mat-checkbox>
            <mat-checkbox fxFlex.gt-md="25" fxFlex.gt-sm="100">Cargo Van</mat-checkbox>

            <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="32px">
                <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Business Name" style="width: 100%;" required>
                </mat-form-field>
                <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Business Registration Number" style="width:100%" required>
                </mat-form-field>
                <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Business Mobile Number" style="width:100%" required>
                </mat-form-field>
                <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Business Contact Number" style="width:100%" required>
                </mat-form-field>


                <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="GST Certification Number" style="width:100%" required>
                </mat-form-field>

                <div fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px">
                    <div fxFlex="20" class="front" fxLayoutAlign="center center">
                        Front
                    </div>
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                        <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                            Upload Image
                        </div>
                        <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                            JPG, GIF or PNG
                        </div>
                    </div>
                    <div fxFlex="20" class="front" fxLayoutAlign="center center">
                        Back
                    </div>
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                        <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                            Upload Image
                        </div>
                        <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                            JPG, GIF or PNG
                        </div>
                    </div>
                </div>
                <mat-form-field style="padding-top: 8px;" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Vendor Company Trade License" style="width:100%" required>
                </mat-form-field>
                <div style="padding-top: 8px;" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px">
                    <div fxFlex="20" class="front" fxLayoutAlign="center center">
                        Front
                    </div>
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                        <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                            Upload Image
                        </div>
                        <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                            JPG, GIF or PNG
                        </div>
                    </div>
                    <div fxFlex="20" class="front" fxLayoutAlign="center center">
                        Back
                    </div>
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                        <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                            Upload Image
                        </div>
                        <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                            JPG, GIF or PNG
                        </div>
                    </div>
                </div>
                <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Registered Business Street Address 1" style="width:100%" required>
                </mat-form-field>
                <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Registered Business Street Address 2" style="width:100%" required>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <mat-label>Select State</mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                    <mat-label>Select City</mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field fxFlex.gt-md="0 0 calc(30%-32px)" fxFlex.gt-sm="100">
                    <input matInput placeholder="Zip/pin code" style="width:100%" required>
                </mat-form-field>

                <div fxFlex.gt-md="0 0 calc(70%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px">
                    <div fxFlex="20" fxLayoutAlign="center center">
                        Address Proof
                    </div>


                    <div fxFlex="20" class="front">
                        Front
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                        <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                            Upload Image
                        </div>
                        <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                            JPG, GIF or PNG
                        </div>
                    </div>
                    <div fxFlex="20" class="front">
                        Back
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                        <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center">
                            Upload Image
                        </div>
                        <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                            JPG, GIF or PNG
                        </div>
                    </div>
                </div>




                <div>

                </div>

            </div>



        </div>

    </div>