<div style="background:white;margin-top:16px">
    <div style="color: orange;padding-left:18px;font-weight:bold;padding-top: 16px;letter-spacing: 1px;">
        Note: Please add all the information as per business registered document for efficient onboarding!
    </div>
    <div style="margin-left:50px;margin-right:50px">
        <div style="margin-top: 16px;">
            Taxi business vertical*
        </div>

        <div>
            <div fxFlex="100" fxLayout="row wrap" style="margin-top: 10px;margin-bottom: 30px;">
                <div fxFlex.gt-md="25" fxFlex.gt-sm="100">
                    Taxi/cab <mat-checkbox style="margin-left: 8px;"></mat-checkbox>
                </div>
                <div fxFlex.gt-md="25" fxFlex.gt-sm="100">
                    Pet Taxi <mat-checkbox style="margin-left: 8px;"></mat-checkbox>
                </div>

                <div fxFlex.gt-md="25" fxFlex.gt-sm="100">
                    Ambulance
                    <mat-checkbox style="margin-left: 8px;"></mat-checkbox>
                </div>
                <div fxFlex.gt-md="25" fxFlex.gt-sm="100">
                    Cargo Van
                    <mat-checkbox style="margin-left: 8px;"></mat-checkbox>
                </div>


                <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="32px" style="margin-top: 8px;">
                    <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="Business Name" style="width: 100%;" required>
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="Business Registration Number" style="width:100%" required>
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="Business Mobile Number" style="width:100%" required>
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="Business Contact Number" style="width:100%" required>
                    </mat-form-field>


                    <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="GST Certification Number" style="width:100%" required>
                    </mat-form-field>

                    <div fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px">
                        <div fxFlex="20" class="front" fxLayoutAlign="center center">
                            <img [src]="f1" style="height: 100%;width: 100%;"
                            *ngIf="f1">
                            <span *ngIf="!f1">Front</span>
                        </div>
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                            <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center"  (click)="frontImage1.click()">
                                Upload Image
                            </div>

                            <input type="file" #frontImage1 (change)="readImageF1($event)" placeholder="Upload Image" style="display: none;">

                            <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                                JPG, GIF or PNG
                            </div>
                        </div>
                        <div fxFlex="20" class="front" fxLayoutAlign="center center">
                            <img [src]="b1" style="height: 100%;width: 100%;" *ngIf="b1">
                            <span *ngIf="!b1">Back</span>
                        </div>
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                            <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center"  (click)="backImage1.click()">
                                Upload Image
                            </div>
                            <input type="file" #backImage1 (change)="readImageB1($event)" placeholder="Upload Image" style="display: none;">
                            <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                                JPG, GIF or PNG
                            </div>
                        </div>
                    </div>
                    <mat-form-field style="padding-top: 8px;" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="Vendor Company Trade License" style="width:100%" required>
                    </mat-form-field>
                    <div style="padding-top: 8px;" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100"
                        fxLayoutGap="8px">
                        <div fxFlex="20" class="front" fxLayoutAlign="center center">
                            <img [src]="f2" style="height: 100%;width: 100%;" *ngIf="f2">
                            <span *ngIf="!f2">Front</span>
                        </div>
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                            <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center" (click)="frontImage2.click()">
                                Upload Image
                               
                            </div>
                            <input type="file" #frontImage2 (change)="readImageF2($event)" placeholder="Upload Image" style="display: none;">
                            <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                                JPG, GIF or PNG
                            </div>
                        </div>
                        <div fxFlex="20" class="front" fxLayoutAlign="center center">
                            <img [src]="b2" style="height: 100%;width: 100%;" *ngIf="b2"> 
                            <span *ngIf="!b2">Back</span>
                        </div>
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                            <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center"  (click)="backImage2.click()">
                                Upload Image
                            </div>
                            <input type="file" #backImage2 (change)="readImageB2($event)" placeholder="Upload Image" style="display: none;">
                            <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                                JPG, GIF or PNG
                            </div>
                        </div>
                    </div>
                    <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="Registered Business Street Address 1" style="width:100%" required>
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="Registered Business Street Address 2" style="width:100%" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <mat-label>Select State</mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex.gt-md="0 0 calc(50%-32px)" fxFlex.gt-sm="100">
                        <mat-label>Select City</mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field fxFlex.gt-md="0 0 calc(30%-32px)" fxFlex.gt-sm="100">
                        <input matInput placeholder="Zip/pin code" style="width:100%" required>
                    </mat-form-field>

                    <div fxFlex.gt-md="0 0 calc(70%-32px)" fxFlex.gt-sm="100" fxLayoutGap="8px">
                        <div fxFlex="20" fxLayoutAlign="center center">
                            Address Proof
                        </div>


                        <div fxFlex="20" class="front" fxLayoutAlign="center center">
                            <img [src]="f3" style="height: 100%;width: 100%;" *ngIf="f3">
                            <span *ngIf="!f3">Front</span>
                        </div>
                        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                            <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center" (click)="frontImage3.click()">
                                Upload Image
                            </div>
                            <input type="file" #frontImage3 (change)="readImageF3($event)" placeholder="Upload Image" style="display: none;">
                            <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                                JPG, GIF or PNG
                            </div>
                        </div>
                        <div fxFlex="20" class="front" fxLayoutAlign="center center">
                            <img [src]="b3" style="height: 100%;width: 100%;" *ngIf="b3">
                            <span *ngIf="!b3">Back</span>
                        </div>
                        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 8px;">
                            <div fxFlex="100" fxLayout="row" class="upload-image" fxLayoutAlign="center center" (click)="backImage3.click()">
                                Upload Image
                            </div>
                            <input type="file" #backImage3 (change)="readImageB3($event)" placeholder="Upload Image" style="display: none;">
                            <div fxFlex="100" fxLayout="row" style="font-size: 8px;">
                                JPG, GIF or PNG
                            </div>
                        </div>
                    </div>

                </div>

                <div style="margin-top: 16px;">
                    Add other Business Address in case if your have branches withing your city limit!
                    <button mat-icon-button>
                        <mat-icon style="color: orange;">add</mat-icon>
                    </button>
                    
                </div>
                <div class="next" fxLayoutAlign="center center">
                    <span style="padding-left: 8px;">
                        Next
                    </span>
<mat-icon>arrow_right_alt</mat-icon>
                </div>



            </div>

        </div>
    </div>