<div style="display: block;">


    <div style="color: orange;padding-left:18px;font-weight:bold;padding-top:10px">
        Note: Please add all the information as per business registered document for efficient onboarding!
    </div>
    <div style="margin-left:100px;margin-right:100px">
        <div style="margin-top: 16px;">
            <b>Your Preferences</b>
        </div>

        <div>
            <div fxFlex="100" fxLayout="row">
                <div fxFlex="0 0 calc(50%-32px)" fxLayout="row wrap" style="padding-top: 40px;">
                    <div fxFlex="70%-32px" fxFlex.gt-md="65" style="padding-top: 25px;">
                        Do you provide Female Drivers
                    </div>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 25px;">Yes</mat-checkbox>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 25px;">No</mat-checkbox>
                    <div fxFlex=" 70%-32px" fxFlex.gt-md="65" style="padding-top: 10px;">
                        Do you allow pet friendly vehicle
                    </div>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">Yes</mat-checkbox>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">No</mat-checkbox>
                    <div fxFlex=" 70%-32px" fxFlex.gt-md="65" style="padding-top: 10px;">
                        Do you Provide Self Drive Cars
                    </div>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">Yes</mat-checkbox>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">No</mat-checkbox>
                    <div fxFlex=" 70%-32px" fxFlex.gt-md="65" style="padding-top: 10px;">
                        Do you Provide Self Drive Cars
                    </div>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">Yes</mat-checkbox>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">No</mat-checkbox>
                    <div fxFlex=" 70%-32px" fxFlex.gt-md="65" style="padding-top: 10px;">
                        Do you Provide drive with care fort elderly people
                    </div>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">Yes</mat-checkbox>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">No</mat-checkbox>
                    <div fxFlex=" 70%-32px" fxFlex.gt-md="65" style="padding-top: 10px;">
                        Do you Provide drive with care fort Juniors(Children's)
                    </div>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">Yes</mat-checkbox>
                    <mat-checkbox fxFlex.gt-md="15" fxFlex.gt-sm="100" style="padding-top: 10px;">No</mat-checkbox>


                    <div>

                    </div>

                </div>




                <div fxFlex="0 0 calc(50%-32px)" fxLayout="row wrap" style="padding-top: 30px;">
                    <div fxFlex="70%-32px" fxFlex.gt-md="100" style="padding-top: 25px;">
                        Do you have any business Preferences
                    </div>
                    <mat-checkbox fxFlex.gt-md="20" fxFlex.gt-sm="100" style="padding-top: 10px;">Yes</mat-checkbox>
                    <mat-checkbox fxFlex.gt-md="25" fxFlex.gt-sm="100" style="padding-top: 10px;">No</mat-checkbox>
                    <div fxFlex.gt-md="25" style="padding-top: 12px;">
                        Outstation</div>
                        <mat-form-field appearance="fill" fxFlex.gt-md="30" fxFlex.gt-sm="20">
                            <mat-label>One way</mat-label>
                            <mat-select>
                                <mat-option></mat-option>
                            </mat-select>
                        </mat-form-field>
                    
                    <div fxFlex=" 70%-32px" fxFlex.gt-md="70" style="padding-top: 10px;">
                        Do you have outstation route preference(Please select all possible route)
                    </div>
                    <mat-checkbox fxFlex.gt-md=" 15" fxFlex.gt-sm="100" style="padding-top: 10px;">Yes</mat-checkbox>
                    <mat-checkbox fxFlex.gt-md=" 15" fxFlex.gt-sm="100" style="padding-top: 10px;">No</mat-checkbox>
                    <div fxFlex=" 70%-32px" fxFlex.gt-md="100" style="padding-top: 10px; padding-bottom: 10px;">
                        Enter preferred route
                    </div>
                    <mat-form-field appearance="fill" fxFlex.gt-md="40" fxFlex.gt-sm="100">
                        <mat-label>Pune</mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex.gt-md="40" fxFlex.gt-sm="100">
                        <mat-label>Mumbai</mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-icon flFlex.get-md="10" style="padding-top: 10px; padding-left: 10px;">add</mat-icon>

                    <mat-form-field appearance="fill" fxFlex.gt-md="40" fxFlex.gt-sm="100">
                        <mat-label>Pune</mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex.gt-md="40" fxFlex.gt-sm="100">
                        <mat-label>Nagpur</mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-icon flFlex.get-md="10" style="padding-top: 10px; padding-left: 10px;">add</mat-icon>
                    <mat-icon flFlex.get-md="10" style="padding-top: 10px; padding-left: 10px;">remove</mat-icon>
                        


                    <mat-form-field appearance="fill" fxFlex.gt-md="40" fxFlex.gt-sm="100">
                        <mat-label>Pune</mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex.gt-md="40" fxFlex.gt-sm="100">
                        <mat-label>Kolhapur</mat-label>
                        <mat-select>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-icon flFlex.get-md="10" style="padding-top: 10px; padding-left: 10px;">add</mat-icon>
                    <mat-icon flFlex.get-md="10" style="padding-top: 10px; padding-left: 10px;">remove</mat-icon>


                </div>
                <div>

                </div>

            </div>

        </div>



    </div>
</div>